<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>博勋的博客</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<link rel="shortcut icon" href="logo.ico" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="/css/base.css">
	<link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
<div id="wrapper">
	<div id="root">
		<% include include/mobile-header %> 
		<% include include/side %>
		<div class="main">
			<div class="category">
				<h1 class="category-title"><%=category.name%></h1>
				<p class="category-intro"><%=category.intro%></p>
				<ul class="blog-list">
					<% for(var i = 0;i < blogs.length;i++){ %>
						<li>
							<a href="/article/<%=blogs[i].num%>"><%=blogs[i].title%></a>
							<font><%=blogs[i].date%></font>
						</li>
					<%}%>
				</ul>
			</div>
			<% include include/footer %>
		</div>
	</div>
</div>
</body>
</html>